
.texto .parmera{
color: #fff;
font-size: 20px;
text-align: center;
border-width: 3px;
border-style: solid;
border-color: white;

}

.texto .A{

color: #fff;
font-size: 20px;
text-align: center;
border-width: 3px;
border-style: solid;
border-color: white


}

.texto .B{

    color: #fff;
    font-size: 20px;
    text-align: center;
    border-width: 3px;
border-style: solid;
border-color: white
    
    
}

.texto .C{

        color: #fff;
        font-size: 20px;
        text-align: center;
        
        border-width: 3px;
border-style: solid;
border-color: white
        
        }

.texto .D{

            color: #fff;
            font-size: 20px;
            text-align: center;
            border-width: 3px;
                border-style: solid;
        border-color: white
            

}

.texto .E{

        color: #fff;
        font-size: 20px;
        text-align: center;
        border-width: 3px;
            border-style: solid;
    border-color: white

}